<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

        <meta charset="utf-8">

        {% if title is not defined and content is defined %}
            {% set title = ez_content_name( content ) %}
        {% endif %}
        <title>{{ title|default( '' ) ? title ~ ' - ' }}{{ "Pipeline One Page Template" }}</title>

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- Icons from Fontawesome -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">



        <link rel="stylesheet" href="{{ asset( "bundles/yuzupipeline/css/flat-ui.css" ) }}">
        <link rel="stylesheet" href="{{ asset( "bundles/yuzupipeline/css/pipeline.css" ) }}">

    {% endblock %}
</head>

<body>

<div class="page-wrapper">
    {% block header %}
        {{ render( controller( "YuzuPipelineBundle:Pipeline:pipelineSettings", {
            'template': 'YuzuPipelineBundle:parts:header.html.twig'} ) ) }}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        {{ render( controller( "YuzuPipelineBundle:Pipeline:pipelineSettings", {
            'template': 'YuzuPipelineBundle:parts:footer.html.twig'} ) ) }}
    {% endblock %}
</div>



<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

{% javascripts
"bundles/yuzupipeline/js/jquery.validate.js"
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% include 'YuzuPipelineBundle:row:feedback_form.html.twig' with {'onlyMarkup': false, 'onlyJavascript': true } %}


</body>
</html>
